@if(isQuestionSection){
  <app-questions-section></app-questions-section>
}

@else if(!isQuestionSection){
  <section class="main-content">
    <div class="welcome__container">

      <div class="welcome__heading--container">
        <h5 class="welcome__heading-light">Welcome to the</h5>
        <h2 class="welcome__heading-bold">Frontend Quiz!</h2>
      </div>
      <span class="welcome__action-text">
        Pick a subject to get started.
      </span>
    </div>



    <div class="subjects__container">
      @for(card of cards; track $index){
        <app-small-card
        [cardTitle]="card.title"
        (click)="onCardClick(card.title)"
        (keydown.enter)="onCardClick(card.title)"
        tabindex="0"
      >
        <img
          src="{{ card.icon }}"
          alt="subject icon"
          class="small__card--icon"
        />
      </app-small-card>
      }
    </div>

  </section>
}

