.main-content {
  min-height: 100vh;
  width: 100%;
  padding: 2rem 1.5rem;
}

.welcome__container {
  text-align: left;
  margin-bottom: 2.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.welcome__heading-light {
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--color-dark-navy);
}

.welcome__heading-bold {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--color-dark-navy);
}

.welcome__action-text {
  font-weight: 400;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.3125rem;
  color: var(--color-dark-navy);
}
