<header class="header">
  <div class="header__logo-container">
    <img src="" alt="logo" class="header__logo-image" />
    <h2 class="header__title">Accessibility</h2>
  </div>
  <div class="header__theme-toggle">
    <img
      src=""
      alt="sun icon"
      class="header__theme-icon header__theme-icon--sun"
    />
    <input type="checkbox" id="themeToggle" class="header__theme-checkbox" />
    <label
      class="header__theme-button"
      for="themeToggle"
      aria-label="Toggle dark mode"
    ></label>
    <img
      src=""
      alt="moon icon"
      class="header__theme-icon header__theme-icon--moon"
    />
  </div>
</header>
