<header class="header">
  <div
    class="header__logo-container"
    [style.display]="isFirstPage ? 'flex' : 'none'"
  >
    <div
      class="header__logo-image-container"
      [style.background-color]="headerIconBackground"
    >
      <img [src]="headerLogo" alt="logo" class="header__logo-image" />
    </div>
    <h3 class="header__title">{{ headerTitle }}</h3>
  </div>
  <div></div>
  <div class="header__theme-toggle">
    <img
      src="images/sun.svg"
      alt="sun icon"
      class="header__theme-icon header__theme-icon--sun"
    />
    <input type="checkbox" id="themeToggle" class="header__theme-checkbox" />
    <label
      class="header__theme-button"
      for="themeToggle"
      aria-label="Toggle dark mode"
    ></label>
    <img
      src="images/moon.svg"
      alt="moon icon"
      class="header__theme-icon header__theme-icon--moon"
    />
  </div>
</header>
